.category-list{
  background-color: white;
  padding: 50px;
}
.category{
  background-color: black;
  border-radius: 20px;
  color: white;
  padding: 30px;
  margin-bottom: 30px;
}
.App-header{
  background-color: black;
  color: white;
  padding-left: 50px;
  margin-bottom: 50px;
  padding-top: 0px;
  margin-top: 0px;
}
html, body{
  padding: 0px;
  margin: 0px;
}
label, input {
  display: block;
  margin-bottom: 20px;
}
.category-form{
  color: white;
  background-color: black;
  margin: 50px;
  border-radius: 20px;
  padding: 30px;
}
